uncased_L-2_H-128_A-2_TF2
tfrecords_with_images_128
tfrecords_bert
tfrecords_conv
tfrecords_emb
tfrecords_union
bert_model
conv_model
emb_model
union_model
naive_model
data/images_0
data/images_1
data/images_2
data/images_high_res_0
data/images_high_res_1
data/images_high_res_2
data/images_high_res_small
data/test_with_images.csv
data/test_with_images_small.csv
data/train_with_images.csv
data/train_with_images_small.csv
data/meta_Electronics.json.gz
data/meta_Arts_Crafts_and_Sewing.json.gz
data/metadata_parsed_with_images.csv
data/eval_with_images.csv
data/eval_with_images_small.csv
data/NIR_preparing_dataset_without_images_and_baseline.ipynb
data/data_preprocessing.ipynb
data/.ipynb_checkpoints
.ipynb_checkpoints
